#nav { margin: 0; padding: 1em; text-align: center; font-family:Geneva, Arial, sans-serif; background-color: #202020; }
#nav ul li { display: inline; }
#nav ul li a {display: inline; color: #cccccc; padding: 32px; text-decoration: none; }
#nav ul li a:hover {display: inline; color: #fff; padding: 32px; text-decoration: none; color: #ffffff; }
#selected { color: #ffffff; border-bottom: thin solid #ffffff; }

body {background-color: #f8f8f8; margin:0 auto; font-size:1.0em; color:#101010; font-family:Geneva, Arial, sans-serif; }
#section { text-align: left; width: 720px; margin: 0 auto; }
p {margin:2px 0 15px 0;line-height:1.3em;}
#footer { background-color: #333; width: 100%; }
